node_modules/
.DS_Store
coverage/
*.log
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
dist/
build/
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace